<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"
/>
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/header.css" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<script
  src="https://kit.fontawesome.com/ca144eb439.js"
  crossorigin="anonymous"
></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.62/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.62/vfs_fonts.js"></script>

<link rel="stylesheet" href="/css/nalog.css" />
<link rel="stylesheet" href="/css/dnevnik.css" />
<link rel="stylesheet" href="/css/komitenti.css" />
<link rel="stylesheet" href="/css/komitent.css" />
<link rel="stylesheet" href="/css/komitent_edit.css" />
<link rel="stylesheet" href="/css/kontni_plan.css" />
<link rel="stylesheet" href="/css/show_konto.css" />
<link rel="stylesheet" href="/css/konto_edit.css" />
<link rel="stylesheet" href="/css/konto_promet.css" />
<link rel="stylesheet" href="/css/tok_dokumentacije.css" />
<link rel="stylesheet" href="/css/zakljucni_list.css" />
<link rel="stylesheet" href="/css/zakljucni_trocifren.css" />
<link rel="stylesheet" href="/css/zakljucni_list_odabir.css" />
<link rel="stylesheet" href="/css/zakljucni_list_trocifren_odabir.css" />

<title>Books! NodeJS version</title>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-brand"><a href="/">Current company:</a></div>

    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a
          href="#"
          class="dropdown-toggle"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <%= current_company.name %>
          <span class="caret"></span
        ></a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li
            id="currentcompanyid"
            data-id="<%= current_company._id %>"
            class="item"
          >
            <%= current_company.name %>
          </li>
          <li role="separator" class="divider"></li>
          <% for(let i=0; i <= companies.length - 1 ; i++) { %>
          <li
            class="item"
            onclick="change_company()"
            data-id="<%= companies[i]._id %>"
          >
            <% if (current_company.name != companies[i].name) { %> <%=
            companies[i].name %> <% } %>
          </li>
          <% } %>
        </ul>
      </li>
      <li class="dropdown">
        <a
          href="#"
          class="dropdown-toggle"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <%= current_company_year %>
          <span class="caret"></span
        ></a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li
            id="currentyearid"
            data-broj="<%= current_company_year %>"
            data-id="<%= years.indexOf(current_company_year) %>"
            class="item"
          >
            <%= current_company_year %>
          </li>
          <li role="separator" class="divider"></li>
          <% for(let i =0; i <= years.length - 1; i++) { %> <% if (years[i] ==
          current_company_year) { %> <% continue %> <% } %>
          <li class="item" onclick="change_year()" data-broj="<%= years[i] %>">
            <%= years[i] %>
          </li>
          <% } %>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav moje_right">
      <li>
        <a href="/logout" class="logout_link">Logout</a>
      </li>

      <li>
        <span id="settings_dugme" class="fa fa-2x fa-cog settings_dugme"></span>
      </li>

      <li>
        <div id="settings_placeholder"></div>
      </li>
    </ul>
  </div>
  <!-- sledeca tri scripta mi trebaju zbog bootstrapa, a on mi treba zbog dropdown-a -->
  <!--<script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>-->
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
  <script src="/js/easy-number-separator.js"></script>
  <!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var cog = document.getElementById("settings_dugme");
      cog.onclick = function() {
        cog.classList.remove("fa-spin-settings");
        //loadPreferences();
        setTimeout(function() {
          cog.classList.add("fa-spin-settings");
        }, 200);
        cog.classList.remove("fa-spin-settings");
      };
    });

    $(document)
      .off("click", "#settings_dugme")
      .on("click", "#settings_dugme", function() {
        var dugme = $(this);
        if (dugme.data("requestRunning")) {
          return;
        }
        dugme.data("requestRunning", true);
        $.ajax({
          url: "/settings",
          type: "get",
          data: { "": "" },
          dataType: "html",
          complete: function() {
            dugme.data("requestRunning", false);
          },
          success: function(html) {
            $("#settings_placeholder").html(html);
          }
        });
      });
    //function loadPreferences() {
    //fetch("http://localhost:3000/settings")
    //  .then(function(response) {
    //    return response;
    //  })
    //  .then(function(html) {
    //    //var parser = new DOMParser();
    //    //var divdoc = parser.parseFromString(html, "text/html");
    //    //var doc = divdoc.getRootNode().body;
    //    //html.getRootNode();
    //    console.log(html);
    //    var responsePlaceholder = document.getElementById(
    //      "settings_placeholder"
    //    );
    //    //var elem = doc.documentElement.childNodes;
    //    //responsePlaceholder.innerHTML = html;
    //    responsePlaceholder.insertAdjacentElement("afterbegin", doc);
    //    //var elem = doc.documentElement;
    //    while (responsePlaceholder.hasChildNodes()) {
    //      responsePlaceholder.removeChild(responsePlaceholder.lastChild);
    //    }
    //    //responsePlaceholder.removeChild(elem);
    //    responsePlaceholder.appendChild(doc);
    //    //sad trebada da ga removujem i onda appendujem
    //    console.log(doc);
    //  });
    //var request = new XMLHttpRequest();
    //var responsePlaceholder = document.getElementById("settings_placeholder");
    //request.open("GET", "/settings", true);
    //var company_id = document
    //  .getElementById("currentcompanyid")
    //  .getAttribute("data-id");
    //var body = { company_id: company_id };
    //request.onload = res => {
    //responsePlaceholder.innerHTML = doc;
    //  //var modal = document.getElementById("settings_dialog");
    //  //modal.style.display = "block";
    //};
    //request.send(body);
    //}

    //// bulma
    //'use strict';
    //document.addEventListener('DOMContentLoaded', function () {
    //// Dropdowns
    //var $dropdowns = getAll('.dropdown:not(.is-hoverable)');
    //if ($dropdowns.length > 0) {
    //  $dropdowns.forEach(function ($el) {
    //    $el.addEventListener('click', function (event) {
    //      event.stopPropagation();
    //      $el.classList.toggle('is-active');
    //    });
    //  });
    //  document.addEventListener('click', function (event) {
    //    closeDropdowns();
    //  });
    //}
    //function closeDropdowns() {
    //  $dropdowns.forEach(function ($el) {
    //    $el.classList.remove('is-active');
    //  });
    //}
    //// Close dropdowns if ESC pressed
    //document.addEventListener('keydown', function (event) {
    //  var e = event || window.event;
    //  if (e.keyCode === 27) {
    //    closeDropdowns();
    //  }
    //});
    //// Functions
    //function getAll(selector) {
    //  return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
    //}
    //});
    //bulma

    function change_company() {
      var x = event.target.getAttribute("data-id");
      var y = document
        .getElementById("currentyearid")
        .getAttribute("data-broj");
      var dugme = $(this);
      if (dugme.data("requestRunning")) {
        return;
      }
      dugme.data("requestRunning", true);
      $.ajax({
        url: "/change_company",
        type: "GET",
        //dataType: "json",
        data: { company_id: x, year_broj: y },
        complete: function() {
          dugme.data("requestRunning", false);
        },
        success: function(html) {
          location.reload();
          $("#loader").hide();
        },
        beforeSend: function() {
          $("#loader").show();
        }
      });
    }
    function change_year() {
      var x = document
        .getElementById("currentcompanyid")
        .getAttribute("data-id");
      var y = event.target.getAttribute("data-broj");
      var dugme = $(this);
      if (dugme.data("requestRunning")) {
        return;
      }
      dugme.data("requestRunning", true);
      $.ajax({
        url: "/change_year",
        type: "GET",
        data: { company_id: x, year_broj: y },
        //dataType: "html",
        complete: function() {
          dugme.data("requestRunning", false);
        },
        success: function(html) {
          location.reload();
          $("#loader").hide();
        },
        beforeSend: function() {
          $("#loader").show();
        }
      });
    }
    //$(document).off('click', 'button.settings_dugme').on('click', 'button.settings_dugme', function()
    //
    //    {
    //        var cog = $("span.fa-cog");
    //        var dugme = $(this);
    //
    //        if (dugme.data('requestRunning'))
    //            { return; }
    //
    //        dugme.data('requestRunning', true);
    //        cog.addClass("fa-spin-settings");
    //
    //         $.ajax({
    //                 url: "/settings",
    //                 type: "get",
    //                 data: {"" : ""},
    //                 dataType: "script",
    //                 complete: function() {
    //                          dugme.data('requestRunning', false);
    //                                    },
    //                 success: function(){
    //                       //cog.removeClass("fa-spin-settings");
    //
    //                 }
    //         });
    //
    //    }
    //);
  </script>
</nav>
<div id="loader">
  <i id="loader-spinner" class="fas fa-spinner fa-spin fa-5x"></i>
</div>
