<div id="stanje_obaveza_okvir_div" style="position:relative">
  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Duznici')">
      Debtors
    </button>
    <button class="tablinks" onclick="openTab(event, 'Poverioci')">
      Creditors
    </button>
    <button class="tablinks" onclick="openTab(event, 'Banke')">Banks</button>
    <button class="refresh_dugme">
      <i
        id="refresh_dugme"
        class="fa fa-sync"
        style="display:inline-block;margin:2px;"
      ></i>
      </button>
    </button>
  </div>
  <!-- Tab content -->
  <div id="Duznici" class="tabcontent prvi">
    <table class="stanje_obaveza_okvir_table">
      <tbody>
        <% for(let i=0; i <= array_kupaca_sorted.length -1; i++) { %>
        <tr class="stanje_obaveza_okvir_table">
          <td class="stanje_obaveza_okvir_table">
            <a href="#" data-id="<%=array_kupaca_sorted[i].id %>" class="stanje_obaveza_link"> <%= array_kupaca_sorted[i].name %> </a>
          </td>
          <td class="stanje_obaveza_okvir_table">
            <%= accounting.formatNumber(array_kupaca_sorted[i].saldo) %>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <div id="Poverioci" class="tabcontent">
    <table class="stanje_obaveza_okvir_table">
      <tbody>
        <% for(let i=0; i <= array_dobavljaca_sorted.length -1; i++) { %>
        <tr class="stanje_obaveza_okvir_table">
          <td class="stanje_obaveza_okvir_table">
            <a href="#" data-id="<%=array_dobavljaca_sorted[i].id %>" class="stanje_obaveza_link"> <%= array_dobavljaca_sorted[i].name %> </a>
          </td>
          <td class="stanje_obaveza_okvir_table">
            <%= accounting.formatNumber(array_dobavljaca_sorted[i].saldo) %>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <div id="Banke" class="tabcontent">
    <table class="stanje_obaveza_okvir_table">
      <tbody>
        <% for(let i=0; i <= array_banaka_sorted.length -1; i++) { %>
        <tr class="stanje_obaveza_okvir_table">
          <td class="stanje_obaveza_okvir_table">
            <a href="#" data-id="<%=array_banaka_sorted[i].id %>" class="stanje_obaveza_link"> <%= array_banaka_sorted[i].name %> </a>
          </td>
          <td class="stanje_obaveza_okvir_table">
            <%= accounting.formatNumber(array_banaka_sorted[i].saldo) %>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>


  <div class="desni_grafik" style="position:absolute;bottom: 51px;">
    <%- include("./graph_revenue_expenses.ejs", { meseci: meseci, iznosi_prihodi: iznosi_prihodi, iznosi_rashodi: iznosi_rashodi } ) %>
  </div>
  
  <script>
    function openTab(evt, TabName) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");

      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(TabName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    $(document)
      .off("click", "button.refresh_dugme")
      .on("click", "button.refresh_dugme", function() {
        var me = $("#refresh_dugme");
        if (me.data("requestRunning")) {
          return;
        }
        me.data("requestRunning", true);
        me.addClass("fa-spin");
        $.ajax({
          url: "/refresh_stanje_obaveza",
          type: "get",
          data: { "": "" },
          dataType: "html",
          complete: function() {
            me.data("requestRunning", false);
          },
          success: function(html) {
            $("div.desno")
              .fadeOut(0)
              .html(html)
              .fadeIn(500);
            //$("#loader").fadeOut();
            me.removeClass("fa-spin");
          },
          beforeSend: function(){
          //$('#loader').fadeIn(200)
        }
        });
      });
      $(document)
      .off("click", "a.stanje_obaveza_link")
      .on("click", "a.stanje_obaveza_link", function() {
        var me = $(this);
        if (me.data("requestRunning")) {
          return;
        }
        me.data("requestRunning", true);
        
        $.ajax({
          url: "/komitent",
          type: "get",
          data: { 
            komitent_id: me.data("id"),
             },
          dataType: "html",
          complete: function() {
            me.data("requestRunning", false);
          },
          success: function(html) {
            $("div.centar").fadeOut(0).html(html).fadeIn(500)
            $('#loader').fadeOut();
          },
            beforeSend: function(){
              $('#loader').fadeIn(200)
          }
        });
      });
  </script>

  <div class="desni_grafik" style="position:absolute;bottom: 51px;">
    <!-- desni_grafik  render "static/graphs/revenue_expenses" -->
  </div>
</div>
