<link rel="stylesheet" href="/css/settings.css" />
<div id="settings_modal_background"></div>
<div class="settings_modal_placeholder">
  <div class="modal_title_bar">
    <span class="modal_title_bar_span">Korisnik: <%= user.email %></span>
  </div>
  <div id="settings_dialog">
    <div class="settings_tab">
      <button
        class="settings_tablinks"
        onclick="openSetting(event, 'user')"
        id="settings_defaultOpen"
      >
        User information
      </button>
      <button class="settings_tablinks" onclick="openSetting(event, 'company')">
        Company information
      </button>
      <button
        class="settings_tablinks"
        onclick="openSetting(event, 'preferences')"
      >
        Program preferences
      </button>
    </div>

    <!-- USER TAB-->
    <div id="user" class="settings_tabcontent">
      <img
        src="../../../images/usermr.png"
        class="user_slika"
        height="60"
        width="60"
      />
      <h3 class="h3_settings_detail">Name:</h3>
      <p><%= user.name ? user.name : 'n/a' %></p>
      <h3 class="h3_settings_detail">Last name:</h3>
      <p><%= user.last_name ? user.last_name : 'n/a' %></p>
      <h3 class="h3_settings_detail">Telephone:</h3>
      <p><%= user.telephone ? user.telephone : 'n/a' %></p>
      <h3 class="h3_settings_detail">E-mail:</h3>
      <p><%= user.email ? user.email : 'n/a' %></p>
      <h3 class="h3_settings_detail">Mobile:</h3>
      <p><%= user.mobile ? user.mobile : 'n/a' %></p>
      <h3 class="h3_settings_detail">Adress:</h3>
      <p><%= user.adress ? user.adress : 'n/a' %></p>
    </div>
    <!-- USER TAB-->

    <!-- COMPANY TAB-->
    <div id="company" class="settings_tabcontent">
      <div class="row">
        <div class="col-md-4">
          <img
            src="../../../images/dashboard/companysettings.png"
            class="companysettings_slika"
            height="60"
            width="60"
          />
          <h3 class="h3_settings">
            All companies:
          </h3>
          <div class="company_vertical_menu">
            <% for (let i=0; i <= companies.length -1; i++) { %> <% if
            (companies[i]._id === company._id) { %>
            <span
              data-id="<%= current_company._id %>"
              class="company_select_span active"
              onclick="company_select(event)"
              ><%= company.name %></span
            >
            <% } else { %>
            <span
              data-id="<%= companies[i]._id %>"
              class="company_select_span"
              onclick="company_select(event)"
              ><%= companies[i].name %></span
            >
            <% } %> <% } %>
          </div>

          <div class="settings_add_new_company_div">
            <buttoni
              id="add_new_company_button"
              style="float: left; margin-right: 5px;"
            >
              <i class="fa fa-plus-square fa-lg"></i>
            </buttoni>
            <p class="settings_add_new_company_div_p">
              Add new company
            </p>
          </div>
          <div id="new_company_dialog_placeholder"></div>
        </div>

        <div class="col-md-8">
          <% for (let i=0; i <= companies.length -1; i++) { %>
          <div id="<%= companies[i]._id %>" class="company_settings_display">
            <h3 class="h3_settings_detail">Name:</h3>
            <p><%= companies[i].name %></p>
            <h3 class="h3_settings_detail">MB:</h3>
            <p><%= companies[i].mb %></p>
            <h3 class="h3_settings_detail">Tax ID:</h3>
            <p><%= companies[i].pib %></p>
            <h3 class="h3_settings_detail">Adress:</h3>
            <p><%= companies[i].adress ? companies[i].adress : "n/a" %></p>
            <h3 class="h3_settings_detail">Telephone:</h3>
            <p>
              <%= companies[i].telephone ? companies[i].telephone : "n/a" %>
            </p>
            <h3 class="h3_settings_detail">Email:</h3>
            <p><%= companies[i].email ? companies[i].email : 'n/a' %></p>
            <h3 class="h3_settings_detail">Registered years:</h3>

            <% if (companies[i].year.length > 0) { %>
            <select>
              <% for (let j = 0; j <= companies[i].year.length -1; j++) { %>
              <option><%= companies[i].year[j] %></option>
              <% } %>
            </select>
            <% } %>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <!-- COMPANY TAB-->
    <!-- PREFERENCES TAB-->
    <div id="preferences" class="settings_tabcontent">
      <img
        src="../../../images/dashboard/settingspreferences.png"
        class="settings_preferences_slika"
        height="60"
        width="60"
      />
      <h3 class="h3_settings">Preferences</h3>

      <p>Disable tutorial tips:</p>
      <label class="switch">
        <% if (user.tutorial_tips === true) { %>
        <input
          id="settings_tutorial"
          type="checkbox"
          checked
          onclick="settings_tutorial_change(event)"
        />
        <% } else { %>
        <input
          id="settings_tutorial"
          type="checkbox"
          onclick="settings_tutorial_change(event)"
        />
        <% } %>
        <span class="slider round"></span>
      </label>

      <p>Autosave on logout:</p>
      <label class="switch">
        <% if (user.autosave === true) { %>
        <input
          id="settings_autosave"
          type="checkbox"
          checked
          onclick="settings_autosave_change(event)"
        />
        <% } else { %>
        <input
          id="settings_autosave"
          type="checkbox"
          onclick="settings_autosave_change(event)"
        />
        <% } %>
        <span class="slider round"></span>
      </label>

      <p>User permissions:</p>
      <label class="switch">
        <% if (user.permisions === true) { %>
        <input
          id="settings_permisions"
          type="checkbox"
          checked
          onclick="settings_permisions_change(event)"
        />
        <% } else { %>
        <input
          id="settings_permisions"
          type="checkbox"
          onclick="settings_permisions_change(event)"
        />
        <% } %>
        <span class="slider round"></span>
      </label>

      <div id="settings_user_preference_placeholder">
        <div
          class="settings_user_preference_notify_sucess"
          style="visibility: visible; display: none;"
        >
          <i class="fa fa-check-circle"></i> Option changed succesfuly.
        </div>
      </div>
    </div>
    <!-- PREFERENCES TAB-->
  </div>

  <div class="modal_bottom_buttons_panel">
    <div class="modal_bottom_buttons_panel_buttonset">
      <finbutton onclick="close_dialog()">Close dialog</finbutton>
    </div>
  </div>
  <script>
    document.getElementById("settings_defaultOpen").click();
    if (
      document.getElementsByClassName("company_select_span active")[0] != null
    ) {
      document.getElementsByClassName("company_select_span active")[0].click();
    }
    companycontent = document.getElementsByClassName(
      "company_settings_display"
    );
    for (i = 0; i < companycontent.length; i++) {
      companycontent[i].style.display = "none";
    }
    function openSetting(evt, linkName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("settings_tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("settings_tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(linkName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    function company_select(evt) {
      // da sve informacije budu skrivene
      companycontent = document.getElementsByClassName(
        "company_settings_display"
      );
      for (i = 0; i < companycontent.length; i++) {
        companycontent[i].style.display = "none";
      }
      // da prikazem samo onu koja je aktivna
      document.getElementById(
        evt.currentTarget.getAttribute("data-id")
      ).style.display = "block";

      // za klikanje po meniju
      companySpans = document.getElementsByClassName("company_select_span");
      for (i = 0; i < companySpans.length; i++) {
        companySpans[i].className = companySpans[i].className.replace(
          " active",
          ""
        );
      }
      evt.currentTarget.className += " active";
    }

    // ovo je za admin panel
    //if (
    //  document.getElementsByClassName("company_select_span_admin active") !=
    //  null
    //) {
    //  document
    //    .getElementsByClassName("company_select_span_admin active")[0]
    //    .click();
    //}
    function company_select_admin(evt) {
      companySpans = document.getElementsByClassName(
        "company_select_span_admin"
      );
      for (i = 0; i < companySpans.length; i++) {
        companySpans[i].className = companySpans[i].className.replace(
          " active",
          ""
        );
      }
      evt.currentTarget.className += " active";
    }

    function users_select_admin(evt) {
      companySpans = document.getElementsByClassName("users_select_span");
      for (i = 0; i < companySpans.length; i++) {
        companySpans[i].className = companySpans[i].className.replace(
          " active",
          ""
        );
      }
      evt.currentTarget.className += " active";
    }

    function close_dialog() {
      var dialog_placeholder = document.getElementById("settings_placeholder");
      dialog_placeholder.innerHTML = "";
    }

    function settings_permisions_change(event) {
      var me = event.target;
      if (me.disabled) {
        return;
      }
      me.disabled = true;
      if ($("#settings_permisions").is(":checked")) {
        // checkbox is checked
        $.ajax({
          url: "/settings_permisions",
          type: "get",
          data: { settings_permisions: true },
          dataType: "script",
          success: function() {
            var info_msg = document.getElementsByClassName(
              "settings_user_preference_notify_sucess"
            )[0];
            info_msg.style.display = "block";
            info_msg.style.visibility = "visible";
            info_msg.style.opacity = 1;
            info_msg.style.transition = "opacity 1s ease-in-out";
            setTimeout(function() {
              info_msg.style.opacity = "0";
            }, 1800);
            setTimeout(function() {
              info_msg.style.visibility = "hidden";
              me.disabled = false;
            }, 3000);
          }
        });
      } else {
        // checkbox is not checked
        $.ajax({
          url: "/settings_permisions",
          type: "get",
          data: { settings_permisions: false },
          dataType: "script",
          success: function() {
            var info_msg = document.getElementsByClassName(
              "settings_user_preference_notify_sucess"
            )[0];
            info_msg.style.display = "block";
            info_msg.style.visibility = "visible";
            info_msg.style.opacity = 1;
            info_msg.style.transition = "opacity 1s ease-in-out";
            setTimeout(function() {
              info_msg.style.opacity = "0";
            }, 1800);
            setTimeout(function() {
              info_msg.style.visibility = "hidden";
              me.disabled = false;
            }, 3000);
          }
        });
      }
    }
    function settings_autosave_change(event) {
      var me = event.target;
      if (me.disabled) {
        return;
      }
      me.disabled = true;
      if ($("#settings_autosave").is(":checked")) {
        // checkbox is checked
        $.ajax({
          url: "/settings_autosave",
          type: "get",
          data: { settings_autosave: true },
          dataType: "script",
          success: function() {
            var info_msg = document.getElementsByClassName(
              "settings_user_preference_notify_sucess"
            )[0];
            info_msg.style.display = "block";
            info_msg.style.visibility = "visible";
            info_msg.style.opacity = 1;
            info_msg.style.transition = "opacity 1s ease-in-out";
            setTimeout(function() {
              info_msg.style.opacity = "0";
            }, 1800);
            setTimeout(function() {
              info_msg.style.visibility = "hidden";
              me.disabled = false;
            }, 3000);
          }
        });
      } else {
        // checkbox is not checked
        $.ajax({
          url: "/settings_autosave",
          type: "get",
          data: { settings_autosave: false },
          dataType: "script",
          success: function() {
            var info_msg = document.getElementsByClassName(
              "settings_user_preference_notify_sucess"
            )[0];
            info_msg.style.display = "block";
            info_msg.style.visibility = "visible";
            info_msg.style.opacity = 1;
            info_msg.style.transition = "opacity 1s ease-in-out";
            setTimeout(function() {
              info_msg.style.opacity = "0";
            }, 1800);
            setTimeout(function() {
              info_msg.style.visibility = "hidden";
              me.disabled = false;
            }, 3000);
          }
        });
      }
    }
    function settings_tutorial_change(event) {
      var me = event.target;
      if (me.disabled) {
        return;
      }
      me.disabled = true;
      if ($("#settings_tutorial").is(":checked")) {
        // checkbox is checked
        $.ajax({
          url: "/settings_tutorial_tips",
          type: "get",
          data: { settings_tutorial: true },
          dataType: "script",
          success: function() {
            var info_msg = document.getElementsByClassName(
              "settings_user_preference_notify_sucess"
            )[0];
            info_msg.style.display = "block";
            info_msg.style.visibility = "visible";
            info_msg.style.opacity = 1;
            info_msg.style.transition = "opacity 1s ease-in-out";
            setTimeout(function() {
              info_msg.style.opacity = "0";
            }, 1800);
            setTimeout(function() {
              info_msg.style.visibility = "hidden";
              me.disabled = false;
            }, 3000);
          }
        });
      } else {
        // checkbox is not checked
        $.ajax({
          url: "/settings_tutorial_tips",
          type: "get",
          data: { settings_tutorial: false },
          dataType: "script",
          success: function() {
            var info_msg = document.getElementsByClassName(
              "settings_user_preference_notify_sucess"
            )[0];
            info_msg.style.display = "block";
            info_msg.style.visibility = "visible";
            info_msg.style.opacity = 1;
            info_msg.style.transition = "opacity 1s ease-in-out";
            setTimeout(function() {
              info_msg.style.opacity = "0";
            }, 1800);
            setTimeout(function() {
              info_msg.style.visibility = "hidden";
              me.disabled = false;
            }, 3000);
          }
        });
      }
    }
  </script>
</div>
