<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/login.css" />
<!--<link href="/css/font-awesome/css/fontawesome.min.css" rel="stylesheet" />-->
<!--<link href="/css/font-awesome/css/solid.min.css" rel="stylesheet" />-->

<title>Books! NodeJS version</title>
<div class="background-image"></div>

<% if (validationErrors.length > 0) { %>
<div id="user-message" class="user-message-div">
  <div class="user-message user-message--error">
    <ul class="user-message-error-list">
      <% validationErrors.forEach(error=>{ %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
  </div>
</div>
<% } %> <% if (successMessage) { %>
<div id="user-message" class="user-message-div">
  <div class="user-message user-message--success">
    <ul class="user-message-error-list">
      <li><%= successMessage %></li>
    </ul>
  </div>
</div>
<% } %> <% if (infoMessage) { %>
<div id="user-message" class="user-message-div">
  <div class="user-message user-message--info">
    <ul class="user-message-error-list">
      <li><%= infoMessage %></li>
    </ul>
  </div>
</div>
<% } %>
	<div id="welcome">
		<div class="welcome">
			<div class="welcome-title">
        <h1>Welcome</h1>
      </div>
      <p>This app is made for presentation purposes.</p>
      <h2>Chose Sign in with LinkedIn option to continue</h2>
			<p><b>Signing in with LinkedIn account</b>, seeds database with example data. All app features are enabled, and functional. No user data is being stored (email, name etc...).</p>
        <p>Clicking logout button, clears your user data and every change you might made.</p>
      <br/>
        <p><b>Registering with actual email adress</b> and password is also functional. Confirmation mail will be sent, which requires your working email. No example data will be seeded, application will start with blank database.</p>
			<div class="click_to_continue">Click here to continue</div>
		</div>
	</div>
<div class="slika-container">
  <div id="login_slika" class="col-md-6">
    <form class="login_form" action="/login" method="POST">
      <div class="form-control">
        <input
          class="login_input <%= validationErrors.find(e => e.param ==='email') ? 'invalid' : ''%>"
          type="text"
          placeholder="Email"
          name="email"
          id="email"
          value="<%= oldInput.email %>"
        />
      </div>
      <div class="form-control">
        <input
          class="login_input <%= validationErrors.find(e => e.param ==='password') ? 'invalid' : ''%>"
          type="password"
          placeholder="Password"
          name="password"
          id="password"
          value="<%= oldInput.password %>"
        />
      </div>

      <button class="login_button" type="submit">Login</button>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    </form>
    <div class="login-signup">
      <p><a href="/signup">Not a user? Sign up here</a></p>
    </div>
    <div class="login-donji_deo">
      <p class="verzija_tekst">Version 0.8b</p>
      <p id="modal-click" class="tutorial_modal_paragraph">
        Presentation guide
      </p>

      <div id="tutorial_dialog">
        <%- include('../includes/login-modal.ejs') %>
      </div>
      <p class="linked_in_p">
        <a
          class="linked_in_a"
          href="<%= `https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=78pucxnywtwhc9&redirect_uri=${process.env.HOST}/auth/linkedin/callback&state=CEeFWf45A53sdfKef424&scope=r_liteprofile%20r_emailaddress`%>"
        >
          <img
            class="linked_in_slika"
            src="../../images/login/Sign-in-Small---Default.png"
            title="We will not store your access token, and clicking logout link will delete your account when leaving this app."
          />
        </a>
      </p>
    </div>
  </div>
</div>
<script>
  var msgdiv = document.getElementById("user-message");
  var msg = document.getElementsByClassName("user-message");

  if (msg.length > 0) {
    for (i = 0; i < msg.length; i++) {
      let message = msg[i]; // zanimljivo je probati sa msg[i] pa timeout :)
      message.style.opacity = 1;
      message.style.transition = "opacity 1s ease-in-out";
      setTimeout(function() {
        message.style.opacity = "0";
      }, 1800);
      setTimeout(function() {
        message.style.visibility = "hidden";
      }, 3000);
    }
  }
</script>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"
  ></script>
  <script>
$(document).ready(function(){
    $('#welcome').fadeIn(200)
  }
  )
  $(document)
      .off("click", "div.click_to_continue")
      .on("click", "div.click_to_continue", function() {
        $("#welcome").fadeOut();
      })
  </script>
        

  
  

