<div id="novi_nalog_modal_background"></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">

<div class="nalog_modal_placeholder">
  <div class="modal_title_bar">
    <span class="modal_title_bar_span">Korisnik: <%= user.email %></span>
    <% if (infoMessage) { %>
        <div id="user-message" class="user-message-div">
          <div class="user-message user-message--info">
            <ul class="user-message-error-list">
              <li><%= infoMessage %></li>
            </ul>
          </div>
        </div>
        <% } %> <% if (validationErrors.length > 0) { %>
        <div id="user-message" class="user-message-div">
          <div class="user-message user-message--error">
            <ul class="user-message-error-list">
              <% validationErrors.forEach(error=>{ %>
              <li><%= error.msg %></li>
              <% }) %>
            </ul>
          </div>
        </div>
        <% } %> <% if (successMessage) { %>
        <div id="user-message" class="user-message-div">
          <div class="user-message user-message--success">
            <ul class="user-message-error-list">
              <li><%= successMessage %></li>
            </ul>
          </div>
        </div>
        <% } %>  
</div>

<div id="nalog_dijalog">
<form id="new_nalog_form" class="new_nalog_form" action="/new_nalog" method="POST">
    <div class = "container-fluid">
        <div class = "prvi_row"> 
            <div class="vrsta_naloga_div">
                <div class="form-control">
                    <span>Vrsta naloga:</span>
                    <select class="novi_nalog_input" name="vrsta_naloga" id="vrstaNaloga" onchange="Pronadji_brojeve_naloga()">
                        
                        <% for(let i = 0; i <= vrste_naloga.length - 1; i++) { %>
                            <option <%= vrste_naloga[i] === "N" ? "selected" : null %>><%= vrste_naloga[i] %></option>
                         <% } %>
                    </select>
                </div>
            </div>
            <div class="broj_naloga_div">
                  <div id="broj_naloga">
                      <span>Broj naloga:</span>
                      <select class="novi_nalog_input" name= "broj_naloga" id="broj_naloga_select">
                          <% for(let i=0; i< brojevi.length-1; i++) { %>
                            <option value="<%= brojevi[i] %>"><%= brojevi[i] %></option> 
                          <% } %>
                      </select>
                  </div>
            </div>
            <div class="opis_naloga_div">
              <span class="opis_naloga_span">Opis naloga:</span> 
              <div class="form-control">
                <input name="opis_naloga" class="novi_nalog_input opis_naloga_input" type="text"/>
              </div>
          </div>
           
        </div>

        <div class = "drugi_row drugi_row_grid-container"> 
            <div class="form-control">
                  <span>Datum:</span>
                  <input name="datum_naloga" id="nalog_date" type="date" class="novi_nalog_input" value="<%= nalog_date %>">
            </div>
        </div>
            
      </div>   
        <div class="treci_row treci_row_grid-container">
            <div class="grid-item">Opis stava:</div>
            <div class="grid-item">Šifra komitenta:</div>
            <div class="grid-item">Poziv na broj:</div>
            <div class="grid-item">Broj konta: <i class="fa fa-plus-square dodaj_racun" style="display:inline-block;margin-top:5px;cursor: pointer;"></i> <div id="dijalog_za_konta" style="display: none;" ></div></div>
            <div class="grid-item">Duguje:</div>
            <div class="grid-item">Potražuje:</div>
            <div class="grid-item">Valuta:</div>
        </div>
         
        <div class="cetvrti_row cetvrti_row_grid-container">
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="opis_stava_input-0" name="opis_stava[]" class="novi_nalog_input opis_stava_input" type="text"/>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                  <!--<input  id="sifra_komitenta-0" name="sifra_komitenta[]" list="sifra_komitenta_list" class="chosen-select"/>-->
                  <select data-placeholder="Select..." name="sifra_komitenta[]" id="sifra_komitenta-0" class="chosen-select sifra_komitenta_input">
                    <% for(let i=0; i <= sifra_komitenta_array.length - 1; i++) { %>
                      <option></option>
                      <option value="<%= sifra_komitenta_array[i]._id  %>"><%= sifra_komitenta_array[i].sifra %> | <%= sifra_komitenta_array[i].name %> </option>
                    <% } %>
                  </select>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                  <input id="poziv_na_broj-0" name="poziv_na_broj[]" list="poziv_na_broj" class="poziv_na_broj_input"/>
                  <!--<select data-placeholder="Select..." name="poziv_na_broj[]" id="poziv_na_broj-0" class="chosen-select poziv_na_broj_input">-->
                    <datalist id="poziv_na_broj">
                      <% for(let i=0; i <= poziv_na_broj_array.length - 1; i++) { %>
                        <option></option>
                        <option><%= poziv_na_broj_array[i] %></option> 
                      <% } %>
                    </datalist>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                  <!--<input id="konto-0" name="konto[]" list="konto" class="konto_input"/>-->
                  <select data-placeholder="Select..." name="konto[]" id="konto-0" class="chosen-select konto_input">
                    <% for(let i=0; i <= broj_konta_array.length - 1; i++) { %>
                      <option></option>
                      <option><%= broj_konta_array[i].number %> | <%= broj_konta_array[i].name %> </option>
                    <% } %>
                  </select>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="duguje-0" name="duguje[]" class="duguje_input number-separator" type="text" value="0.00"/>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="potrazuje-0" name="potrazuje[]" class="potrazuje_input number-separator" type="text" value="0.00"/>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="valuta-0" name="valuta[]" class="valuta_input" type="date"/>
              </div>
            </div>
        </div>
        
        <div class="cetvrti_row cetvrti_row_grid-container">
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="opis_stava_input-1" name="opis_stava[]" class="novi_nalog_input opis_stava_input" type="text"/>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                  <!--<input id="sifra_komitenta-1" name="sifra_komitenta[]" list="sifra_komitenta_list" class="sifra_komitenta_input"/>-->
                  <select data-placeholder="Select..." name="sifra_komitenta[]" id="sifra_komitenta-1" class="chosen-select sifra_komitenta_input">
                    <% for(let i=0; i <= sifra_komitenta_array.length - 1; i++) { %>
                      <option></option>
                      <option value="<%= sifra_komitenta_array[i]._id  %>"><%= sifra_komitenta_array[i].sifra %> | <%= sifra_komitenta_array[i].name %> </option>
                    <% } %>
                  </select>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                  <input id="poziv_na_broj-1" name="poziv_na_broj[]" list="poziv_na_broj" class="poziv_na_broj_input"/>
                  <!--<select data-placeholder="Select..." name="poziv_na_broj[]" id="poziv_na_broj-1" class="chosen-select poziv_na_broj_input">-->
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                  <!--<input id="konto-1" name="konto[]" list="konto" class="konto_input"/>-->
                  <select data-placeholder="Select..." name="konto[]" id="konto-1" class="chosen-select konto_input">
                    <% for(let i=0; i <= broj_konta_array.length - 1; i++) { %>
                      <option></option>
                      <option><%= broj_konta_array[i].number %> | <%= broj_konta_array[i].name %> </option>
                    <% } %>
                  </select>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="duguje-1"name="duguje[]" class="duguje_input number-separator" type="text" value="0.00"/>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="potrazuje-1" name="potrazuje[]" class="potrazuje_input number-separator" type="text" value="0.00"/>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="valuta-1" name="valuta[]" class="valuta_input" type="date"/>
              </div>
            </div>
           
        </div>

        <div class="cetvrti_row cetvrti_row_grid-container">
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="opis_stava_input-2" name="opis_stava[]" class="novi_nalog_input opis_stava_input" type="text"/>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                  <!--<input id="sifra_komitenta-2" name="sifra_komitenta[]" list="sifra_komitenta_list" class="sifra_komitenta_input"/>-->
                  <select data-placeholder="Select..." name="sifra_komitenta[]" id="sifra_komitenta-2" class="chosen-select sifra_komitenta_input">
                    <% for(let i=0; i <= sifra_komitenta_array.length - 1; i++) { %>
                      <option></option>
                      <option value="<%= sifra_komitenta_array[i]._id  %>"><%= sifra_komitenta_array[i].sifra %> | <%= sifra_komitenta_array[i].name %> </option>
                    <% } %>
                  </select>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                  <input id="poziv_na_broj-2" name="poziv_na_broj[]" list="poziv_na_broj" class="poziv_na_broj_input"/>
                  <!--<select data-placeholder="Select..." name="poziv_na_broj[]" id="poziv_na_broj-2" class="chosen-select poziv_na_broj_input">-->
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                  <!--<input id="konto-2" name="konto[]" list="konto" class="konto_input"/>-->
                  <select data-placeholder="Select..." name="konto[]" id="konto-2" class="chosen-select konto_input">
                    <% for(let i=0; i <= broj_konta_array.length - 1; i++) { %>
                      <option></option>
                      <option><%= broj_konta_array[i].number %> | <%= broj_konta_array[i].name %> </option>
                    <% } %>
                  </select>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="duguje-2" name="duguje[]" class="duguje_input number-separator" type="text" value="0.00" />
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="potrazuje-2" name="potrazuje[]" class="potrazuje_input number-separator" type="text" value="0.00" />
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="valuta-2" name="valuta[]" class="valuta_input" type="date"/>
              </div>
            </div>
            
            <div class="grid-item samo_plus_item">
                <i class="fas fa-plus-circle" onclick="dodaj_red(this)"></i>
            </div>
           
        </div>


       
        <hr id="ruler" class="modal_form_hr">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  </form>

  <div class="modal_footer">
    <!--<hr class="modal_footer_hr">-->
      <div class="modal_footer_button_set">
          <button id="submit_form_button" >
              OK
        </button>
        <button id="cancel_form_button">
            Cancel
      </button>
      </div>
      
      </div>    

</div>

<script>
// da bih stavio chosen() na novi element, moram imati njegov klon pre postavljanja inicijalnog chosena  
var stavovi = document.getElementsByClassName('cetvrti_row');
var poslednji_stav = stavovi[stavovi.length -1 ];
var cist_stav = poslednji_stav.cloneNode(true)

function oduzmi_red(element) {
  parent = document.getElementById(element.id).parentNode.parentNode.parentNode
  parent.removeChild(element.parentNode.parentNode)
  dodeli_id();
}

function dodaj_red(element) {
  // rikalkulejt
  stavovi = document.getElementsByClassName('cetvrti_row');
  poslednji_stav = stavovi[stavovi.length -1 ];
  //cist_stav = poslednji_stav.cloneNode(true)
  //
  var parent = poslednji_stav.parentNode;
  var ruler = document.getElementById("ruler");
  var clone = cist_stav.cloneNode(true);
  parent.insertBefore(clone, ruler);
  // chosen mora biti stavljen na cist select
  var clone_select_sifra_komitenta = $( "div.cetvrti_row").last().children().first().next().children().children();
  var clone_select_konto = $( "div.cetvrti_row").last().children().first().next().next().next().children().children(); 
  clone_select_sifra_komitenta.chosen({allow_single_deselect: true});
  clone_select_konto.chosen({allow_single_deselect: true});
  
  var dodaj_red_buttons = document.getElementsByClassName('fa-plus-circle')
  
  let oduzmi_red_elem = document.createElement('i')
  oduzmi_red_elem.className = "fas fa-minus-circle"
  // passing params to function defined up
  oduzmi_red_elem.onclick = function(){oduzmi_red(oduzmi_red_elem)};
  dodaj_red_buttons[0].replaceWith(oduzmi_red_elem)
  dodeli_id();
}
function dodeli_id() {
  var oduzmi_red_buttons = document.getElementsByClassName('fa-minus-circle')
  var opis_stava_inputs = document.getElementsByClassName('opis_stava_input')
  var sifra_komitenta_inputs = document.getElementsByClassName('sifra_komitenta_input')
  var poziv_na_broj_inputs = document.getElementsByClassName('poziv_na_broj_input')
  var konto_inputs = document.getElementsByClassName('konto_input')
  var duguje_inputs = document.getElementsByClassName('duguje_input')
  var potrazuje_inputs = document.getElementsByClassName('potrazuje_input')
  var valuta_inputs = document.getElementsByClassName('valuta_input')
  
  for (let i = 0; i <= oduzmi_red_buttons.length-1; i++){
    oduzmi_red_buttons[i].id = `minus-${i}`;
  }
  for (let i = 0; i <= opis_stava_inputs.length-1; i++){
    opis_stava_inputs[i].id = `opis_stava-${i}`;
  }
  for (let i = 0; i <= sifra_komitenta_inputs.length-1; i++){
    sifra_komitenta_inputs[i].id = `sifra_komitenta-${i}`;
  }
  for (let i = 0; i <= poziv_na_broj_inputs.length-1; i++){
    poziv_na_broj_inputs[i].id = `poziv_na_broj-${i}`;
  }
  for (let i = 0; i <= konto_inputs.length-1; i++){
    konto_inputs[i].id = `konto-${i}`;
  }
  for (let i = 0; i <= duguje_inputs.length-1; i++){
    duguje_inputs[i].id = `duguje-${i}`;
  }
  for (let i = 0; i <= potrazuje_inputs.length-1; i++){
    potrazuje_inputs[i].id = `potrazuje-${i}`;
  }
  for (let i = 0; i <= valuta_inputs.length-1; i++){
    valuta_inputs[i].id = `valuta-${i}`;
  }
}
$(document).off('click', '#submit_form_button').on('click', '#submit_form_button', function()        
    { var me = $(this);
      var cancel_button = document.getElementById("cancel_form_button")

      if (me.data('requestRunning')) 
        { return; }
        me.data('requestRunning', true);
        cancel_button.setAttribute('requestRunning', true);
        var form = document.getElementById("new_nalog_form")
        form.submit();}
);
$(document).off('click', '#cancel_form_button').on('click', '#cancel_form_button', function()        
    { 
      var modal_placeholder = document.getElementById("nalog_placeholder")
      modal_placeholder.innerHTML = "";
    }
);
/*$(document).ready(function() {
  $(".chosen-select").chosen()
});*/
$(document).ready(function(){
  $(".chosen-select").chosen({allow_single_deselect: true})
});
$(document).on('change', '.chosen-select', function(e, params) {
    
    var s = $(this).val();
    
    if (s.includes("|"))
        {
        var x = s.substring(0, s.indexOf('|')).trim();
        // mora se dodati vrednost u <options> da bi mogla biti selektovana
        $(this).append('<option value='+ x +'></option>');
        $(this).val(x).trigger("liszt:updated"); // sad ispadne da imam staru verziju chodena?!?!
        
        // ne radi mi triger:update pa moram ovako
        $(this).next().children(":first").children(":first").text(x);
        // da skinem crveni okvir ako je pre toga bio
        $(this).next().removeClass('sifra_komitenta_input_bez_sifre');
        }
    else {}
});
</script>



</div>
