<div id="table">
  <% if (infoMessage) { %>
    <div id="user-message" class="user-message-div">
      <div class="user-message user-message--info">
        <ul class="user-message-error-list">
          <li><%= infoMessage %></li>
        </ul>
      </div>
    </div>
    <% } %> <% if (validationErrors.length > 0) { %>
    <div id="user-message" class="user-message-div">
      <div class="user-message user-message--error">
        <ul class="user-message-error-list">
          <% validationErrors.forEach(error=>{ %>
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
      </div>
    </div>
    <% } %> <% if (successMessage) { %>
    <div id="user-message" class="user-message-div">
      <div class="user-message user-message--success">
        <ul class="user-message-error-list">
          <li><%= successMessage %></li>
        </ul>
      </div>
    </div>
<% } %>

  <table class="dnevnik_naloga">
    <thead>
      <tr class="dnevnik_naloga">
        <th class="dnevnik_naloga">Tip</th>
        <th class="dnevnik_naloga">Broj</th>
        <th class="dnevnik_naloga">Opis</th>
        <th class="dnevnik_naloga">Iznos</th>
        <th class="dnevnik_naloga">Datum</th>
        <th class="dnevnik_naloga">Zaključan?</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i <= nalozi.length -1; i++) { %>
      <tr data-id="<%= nalozi[i]._id %>" class="dnevnik_naloga">
        <% if (nalozi[i].duguje == nalozi[i].potrazuje) { %>
        <!--# ovo je test da mi je nalog balansiran -->
        <td class="dnevnik_naloga"><%= nalozi[i].type %></td>
        <td class="dnevnik_naloga"><%= nalozi[i].number %></td>
        <td class="dnevnik_naloga"><%= nalozi[i].opis %></td>
        <td class="dnevnik_naloga">
          <%= accounting.formatNumber(nalozi[i].potrazuje) %>
        </td>
        <td class="dnevnik_naloga">
          <%= nalozi[i].date.toLocaleDateString("en-US") %>
        </td>
        <td class="dnevnik_naloga"><%= nalozi[i].locked %></td>
        <% } else { %>
        <td class="dnevnik_naloga crven"><%= nalozi[i].type %></td>
        <td class="dnevnik_naloga crven"><%= nalozi[i].number %></td>
        <td class="dnevnik_naloga crven "><%= nalozi[i].opis %></td>
        <td class="dnevnik_naloga crven">
          <%= accounting.formatNumber(nalozi[i].potrazuje) %>
        </td>
        <td class="dnevnik_naloga crven ">
          <%= nalozi[i].date.toLocaleDateString("en-US") %>
        </td>
        <td class="dnevnik_naloga crven "><%= nalozi[i].locked %></td>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>

  <div class="table_dnevnik_naloga_donji_deo">
    <%- include('./pagination.ejs', { page_link: "dnevnik", currentPage:
    currentPage, nextPage: nextPage, previousPage: previousPage, lastPage:
    lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage})%>
    <!-- pre ovog params:, kad naopravim nalog sa dugmetom dole, svi linkovi su
    pamtili /create_nalog metod   paginate @nalozi, remote: true, params:
    {controller: 'nalog', action: 'index'}, window: 2-->
  </div>

  <script>
    window.history.pushState("", "", "/company");

    $(document)
      .off("dblclick", "tr.dnevnik_naloga")
      .on("dblclick", "tr.dnevnik_naloga", function() {
        page = $("span.current")
          .text()
          .replace(/[\t\n]+/g, " ")
          .trim();
        var me = $(this);
        var type = this.getAttribute("data-type");

        if (me.data("requestRunning")) {
          return;
        }

        me.data("requestRunning", true);

        $.ajax({
          url: "/edit_nalog",
          type: "get",
          data: {
            nalog_id: me.data("id")
          },
          dataType: "html",
          complete: function() {
            me.data("requestRunning", false);
          },
          success: function(html) {
            $("#nalog_placeholder").fadeOut(0).html(html).fadeIn(500)
            $('#loader').fadeOut();
          },
            beforeSend: function(){
              $('#loader').fadeIn(200)
          }
        });
      });
      var msgdiv = document.getElementById("user-message");
var msg = document.getElementsByClassName("user-message-div");

if (msg.length > 0) {
  for (i = 0; i < msg.length; i++) {
    let message = msg[i]; // zanimljivo je probati sa msg[i] pa timeout :)
    message.style.opacity = 1;
    message.style.transition = "opacity 1s ease-in-out";
    setTimeout(function() {
      message.style.opacity = "0";
    }, 1800);
    setTimeout(function() {
      message.style.visibility = "hidden";
      message.style.zIndex = "-10";
    }, 3000);
  }
}
  </script>
</div>
