<div id="table">
  <table class="dnevnik_naloga">
    <thead>
      <tr class="dnevnik_naloga">
        <th class="dnevnik_naloga">Tip</th>
        <th class="dnevnik_naloga">Broj</th>
        <th class="dnevnik_naloga">Opis</th>
        <th class="dnevnik_naloga">Iznos</th>
        <th class="dnevnik_naloga">Datum</th>
        <th class="dnevnik_naloga">Zaključan?</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i <= nalozi.length -1; i++) { %>
      <tr id="<%= nalozi[i].broj %>" class="dnevnik_naloga">
        <% if (nalozi[i].duguje == nalozi[i].potrazuje) { %>
        <!--# ovo je test da mi je nalog balansiran -->
        <td class="dnevnik_naloga"><%= nalozi[i].type %></td>
        <td class="dnevnik_naloga"><%= nalozi[i].number %></td>
        <td class="dnevnik_naloga"><%= nalozi[i].opis %></td>
        <td class="dnevnik_naloga">
          <%= nalozi[i].potrazuje %>
        </td>
        <td class="dnevnik_naloga">
          <%= nalozi[i].date.toLocaleDateString("en-US") %>
        </td>
        <td class="dnevnik_naloga"><%= nalozi[i].locked %></td>
        <% } else { %>
        <td class="dnevnik_naloga crven"><%= nalozi[i].type %></td>
        <td class="dnevnik_naloga crven"><%= nalozi[i].number %></td>
        <td class="dnevnik_naloga crven "><%= nalozi[i].opis %></td>
        <td class="dnevnik_naloga crven">
          <%= nalozi[i].potrazuje %>
        </td>
        <td class="dnevnik_naloga crven ">
          <%= nalozi[i].date.toLocaleDateString("en-US") %>
        </td>
        <td class="dnevnik_naloga crven "><%= nalozi[i].locked %></td>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>

  <div class="table_dnevnik_naloga_donji_deo">
    <!-- pre ovog params:, kad naopravim nalog sa dugmetom dole, svi linkovi su
    pamtili /create_nalog metod   paginate @nalozi, remote: true, params:
    {controller: 'nalog', action: 'index'}, window: 2-->
  </div>

  <script>
    window.history.pushState("", "", "/company");
    //$(document)
    //  .off("dblclick", "tr.dnevnik_naloga")
    //  .on("dblclick", "tr.dnevnik_naloga", function() {
    //    page = $("span.current")
    //      .text()
    //      .replace(/[\t\n]+/g, " ")
    //      .trim();
    //    //x = this.id;
    //
    //    $.ajax({
    //      url: "/nalog_show",
    //      type: "get",
    //      data: {},
    //      dataType: "script"
    //    });
    //  });
  </script>
</div>
