<div id="table">
  <table class="dnevnik_naloga">
    <thead>
      <tr class="dnevnik_naloga">
        <th class="dnevnik_naloga">Tip</th>
        <th class="dnevnik_naloga">Broj</th>
        <th class="dnevnik_naloga">Opis</th>
        <th class="dnevnik_naloga">Iznos</th>
        <th class="dnevnik_naloga">Datum</th>
        <th class="dnevnik_naloga">Zaključan?</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i <= nalozi.length -1; i++) { %>
      <tr
        data-id="<%= nalozi[i].number %>"
        data-type="<%= nalozi[i].type %>"
        id="<%= nalozi[i].number %>"
        class="dnevnik_naloga"
      >
        <% if (nalozi[i].duguje == nalozi[i].potrazuje) { %>
        <!--# ovo je test da mi je nalog balansiran -->
        <td class="dnevnik_naloga"><%= nalozi[i].type %></td>
        <td class="dnevnik_naloga"><%= nalozi[i].number %></td>
        <td class="dnevnik_naloga"><%= nalozi[i].opis %></td>
        <td class="dnevnik_naloga">
          <%= accounting.formatNumber(nalozi[i].potrazuje) %>
        </td>
        <td class="dnevnik_naloga">
          <%= nalozi[i].date.toLocaleDateString("en-US") %>
        </td>
        <td class="dnevnik_naloga"><%= nalozi[i].locked %></td>
        <% } else { %>
        <td class="dnevnik_naloga crven"><%= nalozi[i].type %></td>
        <td class="dnevnik_naloga crven"><%= nalozi[i].number %></td>
        <td class="dnevnik_naloga crven "><%= nalozi[i].opis %></td>
        <td class="dnevnik_naloga crven">
          <%= accounting.formatNumber(nalozi[i].potrazuje) %>
        </td>
        <td class="dnevnik_naloga crven ">
          <%= nalozi[i].date.toLocaleDateString("en-US") %>
        </td>
        <td class="dnevnik_naloga crven "><%= nalozi[i].locked %></td>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>

  <div class="table_dnevnik_naloga_donji_deo">
    <%- include('./pagination.ejs', {currentPage: currentPage, nextPage:
    nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage:
    hasNextPage, hasPreviousPage: hasPreviousPage})%>
    <!-- pre ovog params:, kad naopravim nalog sa dugmetom dole, svi linkovi su
    pamtili /create_nalog metod   paginate @nalozi, remote: true, params:
    {controller: 'nalog', action: 'index'}, window: 2-->
  </div>

  <script>
    window.history.pushState("", "", "/company");

    $(document)
      .off("dblclick", "tr.dnevnik_naloga")
      .on("dblclick", "tr.dnevnik_naloga", function() {
        page = $("span.current")
          .text()
          .replace(/[\t\n]+/g, " ")
          .trim();
        var me = $(this);
        var type = this.getAttribute("data-type");

        if (me.data("requestRunning")) {
          return;
        }

        me.data("requestRunning", true);

        $.ajax({
          url: "/edit_nalog",
          type: "get",
          data: {
            nalog_number: me.data("id"),
            nalog_type: type,
            nalog_index_page: page
          },
          dataType: "html",
          complete: function() {
            me.data("requestRunning", false);
          },
          success: function(html) {
            $("#nalog_placeholder").html(html);
          }
        });
      });
  </script>
</div>
