<div id="edit_komitent_modal_background"></div>

<div class="edit_komitent_placeholder">
  <div class="modal_title_bar">
    <span class="modal_title_bar_span">Korisnik: <%= user.email %></span>
    <% if (infoMessage) { %>
        <div id="user-message" class="user-message-div">
          <div class="user-message user-message--info">
            <ul class="user-message-error-list">
              <li><%= infoMessage %></li>
            </ul>
          </div>
        </div>
        <% } %> <% if (validationErrors.length > 0) { %>
        <div id="user-message" class="user-message-div">
          <div class="user-message user-message--error">
            <ul class="user-message-error-list">
              <% validationErrors.forEach(error=>{ %>
              <li><%= error.msg %></li>
              <% }) %>
            </ul>
          </div>
        </div>
        <% } %> <% if (successMessage) { %>
        <div id="user-message" class="user-message-div">
          <div class="user-message user-message--success">
            <ul class="user-message-error-list">
              <li><%= successMessage %></li>
            </ul>
          </div>
        </div>
        <% } %>  
</div>

<div id="nalog_dijalog">
<form id="new_nalog_form" class="new_nalog_form" action="/new_nalog" method="POST">
    <div class = "container-fluid">
        <div class = "prvi_row"> 
            <div class="vrsta_naloga_div">
                <div class="form-control">
                    <span>Vrsta naloga:</span>
                    <select class="novi_nalog_input" name="vrsta_naloga" id="vrstaNaloga" onchange="Pronadji_brojeve_naloga()">
                        
                        <% for(let i = 0; i <= vrste_naloga.length - 1; i++) { %>
                            <option <%= vrste_naloga[i] === "N" ? "selected" : null %>><%= vrste_naloga[i] %></option>
                         <% } %>
                    </select>
                </div>
            </div>
            <div class="broj_naloga_div">
                  <div id="broj_naloga">
                      <span>Broj naloga:</span>
                      <select class="novi_nalog_input" name= "broj_naloga" id="broj_naloga_select">
                          <% for(let i=0; i< brojevi.length-1; i++) { %>
                            <option value="<%= brojevi[i] %>"><%= brojevi[i] %></option> 
                          <% } %>
                      </select>
                  </div>
            </div>
            <div class="opis_naloga_div">
              <span class="opis_naloga_span">Opis naloga:</span> 
              <div class="form-control">
                <input name="opis_naloga" class="novi_nalog_input opis_naloga_input" type="text"/>
              </div>
          </div>
           
        </div>

        <div class = "drugi_row drugi_row_grid-container"> 
            <div class="form-control">
                  <span>Datum:</span>
                  <input name="datum_naloga" id="nalog_date" type="date" class="novi_nalog_input" value="<%= nalog_date %>">
            </div>
        </div>
            
      </div>   
        <div class="treci_row treci_row_grid-container">
            <div class="grid-item">Opis stava:</div>
            <div class="grid-item">Šifra komitenta:</div>
            <div class="grid-item">Poziv na broj:</div>
            <div class="grid-item">Broj konta: <i class="fa fa-plus-square dodaj_racun" style="display:inline-block;margin-top:5px;cursor: pointer;"></i> <div id="dijalog_za_konta" style="display: none;" ></div></div>
            <div class="grid-item">Duguje:</div>
            <div class="grid-item">Potražuje:</div>
            <div class="grid-item">Valuta:</div>
        </div>
         
        <div class="cetvrti_row cetvrti_row_grid-container">
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="opis_stava_input-0" name="opis_stava[]" class="novi_nalog_input opis_stava_input" type="text"/>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                  <!--<input  id="sifra_komitenta-0" name="sifra_komitenta[]" list="sifra_komitenta_list" class="chosen-select"/>-->
                  <select data-placeholder="Select..." name="sifra_komitenta[]" id="sifra_komitenta-0" class="chosen-select sifra_komitenta_input">
                    <% for(let i=0; i <= sifra_komitenta_array.length - 1; i++) { %>
                      <option></option>
                      <option value="<%= sifra_komitenta_array[i]._id  %>"><%= sifra_komitenta_array[i].sifra %> | <%= sifra_komitenta_array[i].name %> </option>
                    <% } %>
                  </select>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                  <input id="poziv_na_broj-0" name="poziv_na_broj[]" list="poziv_na_broj" class="poziv_na_broj_input"/>
                  <!--<select data-placeholder="Select..." name="poziv_na_broj[]" id="poziv_na_broj-0" class="chosen-select poziv_na_broj_input">-->
                    <datalist id="poziv_na_broj">
                      <% for(let i=0; i <= poziv_na_broj_array.length - 1; i++) { %>
                        <option></option>
                        <option><%= poziv_na_broj_array[i] %></option> 
                      <% } %>
                    </datalist>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                  <!--<input id="konto-0" name="konto[]" list="konto" class="konto_input"/>-->
                  <select data-placeholder="Select..." name="konto[]" id="konto-0" class="chosen-select konto_input">
                    <% for(let i=0; i <= broj_konta_array.length - 1; i++) { %>
                      <option></option>
                      <option><%= broj_konta_array[i].number %> | <%= broj_konta_array[i].name %> </option>
                    <% } %>
                  </select>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="duguje-0" name="duguje[]" class="duguje_input number-separator" type="text" value="0.00"/>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="potrazuje-0" name="potrazuje[]" class="potrazuje_input number-separator" type="text" value="0.00"/>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="valuta-0" name="valuta[]" class="valuta_input" type="date"/>
              </div>
            </div>
        </div>
        
        <div class="cetvrti_row cetvrti_row_grid-container">
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="opis_stava_input-1" name="opis_stava[]" class="novi_nalog_input opis_stava_input" type="text"/>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                  <!--<input id="sifra_komitenta-1" name="sifra_komitenta[]" list="sifra_komitenta_list" class="sifra_komitenta_input"/>-->
                  <select data-placeholder="Select..." name="sifra_komitenta[]" id="sifra_komitenta-1" class="chosen-select sifra_komitenta_input">
                    <% for(let i=0; i <= sifra_komitenta_array.length - 1; i++) { %>
                      <option></option>
                      <option value="<%= sifra_komitenta_array[i]._id  %>"><%= sifra_komitenta_array[i].sifra %> | <%= sifra_komitenta_array[i].name %> </option>
                    <% } %>
                  </select>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                  <input id="poziv_na_broj-1" name="poziv_na_broj[]" list="poziv_na_broj" class="poziv_na_broj_input"/>
                  <!--<select data-placeholder="Select..." name="poziv_na_broj[]" id="poziv_na_broj-1" class="chosen-select poziv_na_broj_input">-->
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                  <!--<input id="konto-1" name="konto[]" list="konto" class="konto_input"/>-->
                  <select data-placeholder="Select..." name="konto[]" id="konto-1" class="chosen-select konto_input">
                    <% for(let i=0; i <= broj_konta_array.length - 1; i++) { %>
                      <option></option>
                      <option><%= broj_konta_array[i].number %> | <%= broj_konta_array[i].name %> </option>
                    <% } %>
                  </select>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="duguje-1"name="duguje[]" class="duguje_input number-separator" type="text" value="0.00"/>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="potrazuje-1" name="potrazuje[]" class="potrazuje_input number-separator" type="text" value="0.00"/>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="valuta-1" name="valuta[]" class="valuta_input" type="date"/>
              </div>
            </div>
           
        </div>

        <div class="cetvrti_row cetvrti_row_grid-container">
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="opis_stava_input-2" name="opis_stava[]" class="novi_nalog_input opis_stava_input" type="text"/>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                  <!--<input id="sifra_komitenta-2" name="sifra_komitenta[]" list="sifra_komitenta_list" class="sifra_komitenta_input"/>-->
                  <select data-placeholder="Select..." name="sifra_komitenta[]" id="sifra_komitenta-2" class="chosen-select sifra_komitenta_input">
                    <% for(let i=0; i <= sifra_komitenta_array.length - 1; i++) { %>
                      <option></option>
                      <option value="<%= sifra_komitenta_array[i]._id  %>"><%= sifra_komitenta_array[i].sifra %> | <%= sifra_komitenta_array[i].name %> </option>
                    <% } %>
                  </select>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                  <input id="poziv_na_broj-2" name="poziv_na_broj[]" list="poziv_na_broj" class="poziv_na_broj_input"/>
                  <!--<select data-placeholder="Select..." name="poziv_na_broj[]" id="poziv_na_broj-2" class="chosen-select poziv_na_broj_input">-->
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                  <!--<input id="konto-2" name="konto[]" list="konto" class="konto_input"/>-->
                  <select data-placeholder="Select..." name="konto[]" id="konto-2" class="chosen-select konto_input">
                    <% for(let i=0; i <= broj_konta_array.length - 1; i++) { %>
                      <option></option>
                      <option><%= broj_konta_array[i].number %> | <%= broj_konta_array[i].name %> </option>
                    <% } %>
                  </select>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="duguje-2" name="duguje[]" class="duguje_input number-separator" type="text" value="0.00" />
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="potrazuje-2" name="potrazuje[]" class="potrazuje_input number-separator" type="text" value="0.00" />
              </div>
            </div>
            <div class="grid-item">
              <div class="form-control novi_nalog_form-control">
                <input id="valuta-2" name="valuta[]" class="valuta_input" type="date"/>
              </div>
            </div>
            
            <div class="grid-item samo_plus_item">
                <i class="fas fa-plus-circle" onclick="dodaj_red(this)"></i>
            </div>
           
        </div>


       
        <hr id="ruler" class="modal_form_hr">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  </form>

  <div class="modal_footer">
    <!--<hr class="modal_footer_hr">-->
      <div class="modal_footer_button_set">
          <button id="submit_form_button" >
              OK
        </button>
        <button id="cancel_form_button">
            Cancel
      </button>
      </div>
      
      </div>    

</div>


</div>
