<div id="komitent_edit_modal_background"></div>
<div id="loader" >
  <i id="loader-spinner" class="fas fa-spinner fa-spin"></i>
</div>
<div class="komitent_edit_modal_placeholder">
  <div class="modal_title_bar">
    <span class="modal_title_bar_span">Korisnik: <%= user.email %></span>
    <% if (infoMessage) { %>
    <div id="user-message" class="user-message-div">
      <div class="user-message user-message--info">
        <ul class="user-message-error-list">
          <li><%= infoMessage %></li>
        </ul>
      </div>
    </div>
    <% } %> <% if (validationErrors.length > 0) { %>
    <div id="user-message" class="user-message-div">
      <div class="user-message user-message--error">
        <ul class="user-message-error-list">
          <% validationErrors.forEach(error=>{ %>
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
      </div>
    </div>
    <% } %> <% if (successMessage) { %>
    <div id="user-message" class="user-message-div">
      <div class="user-message user-message--success">
        <ul class="user-message-error-list">
          <li><%= successMessage %></li>
        </ul>
      </div>
    </div>
    <% } %>
  </div>

  <div id="komitent_edit_dijalog">
    <form
      id="komitent_edit_form"
      class="komitent_edit_form"
      action="/komitent_edit"
      method="POST"
    >
      <div class="row">
        
        <div class="col-md">
          <div class="komitent_edit_slika_div">
            <p class="komitent_edit_slika_text_iznad">
              Create new client
            </p>
          <img
            class="komitent_edit_slika"
            src="../../images/company.png"
            alt="New client"
          />
        </div>
          </div>
            <div class="col-md">
              <p class="komitent_edit_slika_text_ispod">
                Enter data in fields below
              </p>
                <div class="form-control">
                  <input
                    class="komitent_edit_input komitent_edit_input_name <%= validationErrors.find(e => e.param ==='name') ? 'invalid' : ''%>"
                    type="text"
                    placeholder="Client name"
                    name="name"
                    id="name"
                    value="<%= oldInput.name %>"
                  />
                </div>
                <div class="form-control">
                  <input
                    class="komitent_edit_input komitent_edit_input_adress <%= validationErrors.find(e => e.param ==='adress') ? 'invalid' : ''%>"
                    type="text"
                    placeholder="Adress"
                    name="adress"
                    id="adress"
                    value="<%= oldInput.adress %>"
                  />
                </div>
                <div class="form-control">
                  <input
                    class="komitent_edit_input komitent_edit_input_email <%= validationErrors.find(e => e.param ==='email') ? 'invalid' : ''%>"
                    type="text"
                    placeholder="Client email"
                    name="email"
                    id="email"
                    value="<%= oldInput.email %>"
                  />
                </div>
                <div class="form-control">
                  <input
                    class="komitent_edit_input komitent_edit_input_pib <%= validationErrors.find(e => e.param ==='pib') ? 'invalid' : ''%>"
                    type="text"
                    placeholder="VAT: 9 digits"
                    name="pib"
                    id="pib"
                    value="<%= oldInput.pib %>"
                  />
                </div>
                <div class="form-control">
                  <input
                    class="komitent_edit_input komitent_edit_input_sifra <%= validationErrors.find(e => e.param ==='sifra') ? 'invalid' : ''%>"
                    type="text"
                    placeholder="Client code"
                    name="sifra"
                    id="sifra"
                    value="<%= oldInput.sifra %>"
                  />
                </div>
                <div class="form-control">
                  <select data-placeholder="Select..." name="type_id" class="komitent_edit_input komitent_edit_input_type">
                    <% for(let j = 0; j <= komitent_types.length -1; j++) { %>
                    <option value="<%= komitent_types[j]._id %>"><%= komitent_types[j].name %></option>
                    <% } %>
                  </select>
                </div>
             
          </div>
          
        </div>
        <input type="hidden" name="komitent_id" value="<%= oldInput.id %>" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    </form>
</div>
<div class="modal_footer">
  <div class="modal_footer_button_set">
    <button id="komitent_edit_ok_form_button">
      OK
    </button>
    <button id="komitent_edit_cancel_form_button">
      Cancel
      </button>
    </div>
  </div>
</div>

<script>
$(document).off('click', '#komitent_edit_ok_form_button').on('click', '#komitent_edit_ok_form_button', function()        
  { var me = $(this);
    var cancel_button = document.getElementById("komitent_edit_cancel_form_button")
    var error_inputs = []
    if (me.data('requestRunning')) 
      { return; }
    me.data('requestRunning', true);
    cancel_button.setAttribute('requestRunning', true);
    //var form = document.getElementById("komitent_edit_form")
    $.ajax({
        type: 'POST',
        url: '/komitent_edit',
        data: $('#komitent_edit_form').serialize(), 
        success: function(response) {
          var modal_placeholder = document.getElementById("komitent_placeholder")
          modal_placeholder.innerHTML = "";
          $("div.centar").html(response);
         },
         error: function(error){
          me.data('requestRunning', false);
          for(let j =0 ; j <= error.responseJSON.length - 1; j++){
            $(`input[name=${error.responseJSON[j].param}]`).removeClass('komitent_edit_input').addClass('komitent_edit_input_error')
          }
          $('#loader').hide();
         },
         beforeSend: function(){
          $('#loader').show();
        }
    });
    //form.submit();
  });
$(document).off('click', '#komitent_edit_cancel_form_button').on('click', '#komitent_edit_cancel_form_button', function()        
  { 
    var modal_placeholder = document.getElementById("komitent_placeholder")
    modal_placeholder.innerHTML = "";
  }
);
  </script>
</div>
