<div id="table">
  <table class="pregled_komitenata">
    <thead>
      <tr class="pregled_komitenata">
        <th class="pregled_komitenata">Number</th>
        <th class="pregled_komitenata">Name of client</th>
        <th class="pregled_komitenata">Type</th>
        <th class="pregled_komitenata">Adress</th>
        <th class="pregled_komitenata">Email</th>
        <th class="pregled_komitenata">Code</th>
        <th class="pregled_komitenata">VAT &#8470</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i <= komitenti.length -1; i++) { %>
      <tr
        data-id="<%= komitenti[i]._id %>"
        data-number="<%= komitenti[i].number %>"
        class="pregled_komitenata"
      >
        <td class="pregled_komitenata"><%= komitenti[i].number %></td>
        <td class="pregled_komitenata"><%= komitenti[i].name %></td>
        <td class="pregled_komitenata"><%= komitenti[i].type.name %></td>
        <td class="pregled_komitenata"><%= komitenti[i].adress %></td>
        <td class="pregled_komitenata"><%= komitenti[i].email %></td>
        <td class="pregled_komitenata"><%= komitenti[i].sifra %></td>
        <td class="pregled_komitenata"><%= komitenti[i].pib %></td>
        <% } %>
      </tr>
    </tbody>
  </table>

  <div class="table_pregled_komitenata_donji_deo">
    <%- include('./pagination.ejs', {page_link: "komitenti", currentPage: currentPage, nextPage:
    nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage:
    hasNextPage, hasPreviousPage: hasPreviousPage})%>
  </div>

  <script>
    window.history.pushState("", "", "/company");

    $(document)
      .off("dblclick", "tr.pregled_komitenata")
      .on("dblclick", "tr.pregled_komitenata", function() {
        page = $("input#dnevnik_current_page_input")
          .val()
          .replace(/[\t\n]+/g, " ")
          .trim();
        var me = $(this);
        
        if (me.data("requestRunning")) {
          return;
        }

        me.data("requestRunning", true);

        $.ajax({
          url: "/komitent",
          type: "get",
          data: {
            komitent_number: me.data("number"),
            komitent_id: me.data("id"),
            komitent_index_page: page
          },
          dataType: "html",
          complete: function() {
            me.data("requestRunning", false);
          },
          success: function(html) {
            $("div.centar").fadeOut(0).html(html).fadeIn(500)
            $('#loader').fadeOut();
          },
            beforeSend: function(){
              $('#loader').fadeIn(200)
          }
        });
      });
  </script>
</div>
