<div id="komitent_edit_modal_background"></div>

<div class="komitent_edit_modal_placeholder">
  <div class="modal_title_bar">
    <span class="modal_title_bar_span">Korisnik: <%= user.email %></span>
    <% if (infoMessage) { %>
    <div id="user-message" class="user-message-div">
      <div class="user-message user-message--info">
        <ul class="user-message-error-list">
          <li><%= infoMessage %></li>
        </ul>
      </div>
    </div>
    <% } %> <% if (validationErrors.length > 0) { %>
    <div id="user-message" class="user-message-div">
      <div class="user-message user-message--error">
        <ul class="user-message-error-list">
          <% validationErrors.forEach(error=>{ %>
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
      </div>
    </div>
    <% } %> <% if (successMessage) { %>
    <div id="user-message" class="user-message-div">
      <div class="user-message user-message--success">
        <ul class="user-message-error-list">
          <li><%= successMessage %></li>
        </ul>
      </div>
    </div>
    <% } %>
  </div>

  <div id="komitent_edit_dijalog">
    <form
      id="new_nalog_form"
      class="new_nalog_form"
      action="/new_nalog"
      method="POST"
    >
      <div class="row">
        
        <div class="col-md">
          <div class="komitent_edit_slika_div">
            <p class="komitent_edit_slika_text_iznad">
              Create new client
            </p>
          <img
            class="komitent_edit_slika"
            src="../../images/company.png"
            alt="New client"
          />
        </div>
          </div>
            <div class="col-md">
              <p class="komitent_edit_slika_text_ispod">
                Enter data in fields below
              </p>
                <div class="form-control">
                  <input
                    class="new_company_input new_company_input_name <%= validationErrors.find(e => e.param ==='name') ? 'invalid' : ''%>"
                    type="text"
                    placeholder="Client name"
                    name="name"
                    id="name"
                    value="<%= oldInput.name %>"
                  />
                </div>
                <div class="form-control">
                  <input
                    class="new_company_input new_company_input_name <%= validationErrors.find(e => e.param ==='name') ? 'invalid' : ''%>"
                    type="text"
                    placeholder="Client name"
                    name="name"
                    id="name"
                    value="<%= oldInput.name %>"
                  />
                </div>
                <div class="form-control">
                  <input
                    class="new_company_input new_company_input_name <%= validationErrors.find(e => e.param ==='name') ? 'invalid' : ''%>"
                    type="text"
                    placeholder="Client name"
                    name="name"
                    id="name"
                    value="<%= oldInput.name %>"
                  />
                </div>
                <div class="form-control">
                  <input
                    class="new_company_input new_company_input_name <%= validationErrors.find(e => e.param ==='name') ? 'invalid' : ''%>"
                    type="text"
                    placeholder="Client name"
                    name="name"
                    id="name"
                    value="<%= oldInput.name %>"
                  />
                </div>
                <div class="form-control">
                  <input
                    class="new_company_input new_company_input_name <%= validationErrors.find(e => e.param ==='name') ? 'invalid' : ''%>"
                    type="text"
                    placeholder="Company name"
                    name="name"
                    id="name"
                    value="<%= oldInput.name %>"
                  />
                </div>
                <div class="form-control">
                  <input
                    class="new_company_input new_company_input_name <%= validationErrors.find(e => e.param ==='name') ? 'invalid' : ''%>"
                    type="text"
                    placeholder="Company name"
                    name="name"
                    id="name"
                    value="<%= oldInput.name %>"
                  />
                </div>
             
          </div>
          
        </div>
      </div>
    </form>

    <div class="modal_footer">
      <div class="modal_footer_button_set">
        <button id="submit_form_button">
          OK
        </button>
        <button id="cancel_form_button">
          Cancel
        </button>
      </div>
    </div>
  </div>

  <script></script>
</div>
