<div id="table">
    <table class="kontni_plan">
      <thead class="kontni_plan_thead">
        <tr class="kontni_plan">
          <th class="kontni_plan">Number</th>
          <th class="kontni_plan">Name</th>
          <th class="kontni_plan">Type</th>
        </tr>
      </thead>
      <tbody class="kontni_plan_tbody">
        <% for(let i = 0; i <= sva_konta_i_okvir.length -1; i++) { %>
        <tr
          data-id="<%= sva_konta_i_okvir[i].number %>"
          data-type="<%= sva_konta_i_okvir[i].name %>"
          id="<%= sva_konta_i_okvir[i].number %>"
          class="kontni_plan"
        >
          <td class="kontni_plan"><%= sva_konta_i_okvir[i].number %></td>
          <td class="kontni_plan"><%= sva_konta_i_okvir[i].name %></td>
          <td class="kontni_plan"><%= sva_konta_i_okvir[i].type %></td>
          <% } %>
        </tr>
      </tbody>
    </table>
    <div class="table_kontni_plan_donji_deo">
      <span title="Enter search term to filter table rows."><i class="fas fa-filter" style="vertical-align:middle;margin: 1px;color: #6d687e;margin-left: 10px;margin-right: 10px;"></i></span>
      <input title="Enter search term to filter table rows." id="kontni_plan_text_input" class="kontni_plan_text_input" type=text></input>
    </div>
  
    
    <script>

      $(document).off("keyup", "#kontni_plan_text_input").on("keyup", "#kontni_plan_text_input", function() {
        var value = $(this).val().toLowerCase();
        $("#table tbody tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
      })
      
    </script>
  </div>
  