<div id="table" class="konto_promet_table">
  <% let brojcanik = 0; %>
  <% for (let [key, value] of sredjeno) { %>
  <table class="konto_promet">
    <% if (brojcanik == 0) { %>
      <thead class="konto_promet_thead_zero">
    <% } else { %>
        <thead class="konto_promet_thead">
    <% } %>
      <tr class="konto_promet ">
        <th class="konto_promet "><%= key %></th>
        <th class="konto_promet "><%= key %></th>
      </tr>
      <tr class="konto_promet">
        <th class="konto_promet">Date</th>
        <th class="konto_promet">Type</th>
        <th class="konto_promet">No.</th>
        <th class="konto_promet">Description</th>
        <th class="konto_promet">Claims</th>
        <th class="konto_promet">Owes</th>
        <th class="konto_promet">Balance</th>
      </tr>
    </thead>

    <% let saldo = 0; %> <% let ukupno_duguje = 0; %> <% let ukupno_potrazuje =
    0; %> <% for(let i = 0; i <= value.length -1; i++) { %>

    <tr data-id="<%= value[i].nalog._id %>" class="konto_promet">
      <td class="konto_promet">
        <%= value[i].nalog_date.toLocaleDateString("en-US") %>
      </td>
      <td class="konto_promet"><%= value[i].type %></td>
      <td class="konto_promet"><%= value[i].nalog.number %></td>
      <td class="konto_promet"><%= value[i].opis %></td>
      <td class="konto_promet">
        <%= accounting.formatNumber(value[i].duguje) %>
      </td>
      <td class="konto_promet">
        <%= accounting.formatNumber(value[i].potrazuje) %>
      </td>
      <td class="konto_promet">
        <%= accounting.formatNumber(saldo += value[i].duguje -
        value[i].potrazuje) %>
      </td>
      <% ukupno_duguje += value[i].duguje %> <% ukupno_potrazuje +=
      value[i].potrazuje %> <% } %>
    </tr>
    <tr class="konto_promet_zbirni_row">
      <td class="konto_promet"></td>
      <td class="konto_promet"></td>
      <td class="konto_promet"></td>
      <td class="konto_promet">Sum:</td>
      <td class="konto_promet">
        <%= accounting.formatNumber(ukupno_duguje) %>
      </td>
      <td class="konto_promet">
        <%= accounting.formatNumber(ukupno_potrazuje) %>
      </td>
      <td class="konto_promet"><%= accounting.formatNumber(saldo) %></td>
    </tr>
  </table>
  <% brojcanik++ %>
  <% } %>

  <script>
    $(document)
      .off("keyup", "#konto_promet_text_input")
      .on("keyup", "#konto_promet_text_input", function() {
        var value = $(this)
          .val()
          .toLowerCase();
        $("#table tbody tr").filter(function() {
          $(this).toggle(
            $(this)
              .text()
              .toLowerCase()
              .indexOf(value) > -1
          );
        });
      });
    $(document)
      .off("dblclick", "tr.konto_promet")
      .on("dblclick", "tr.konto_promet", function() {
        var me = $(this);
        var nalog_id = this.getAttribute("data-id");

        if (me.data("requestRunning")) {
          return;
        }

        me.data("requestRunning", true);

        $.ajax({
          url: "/edit_nalog",
          type: "get",
          data: {
            nalog_id: nalog_id
          },
          dataType: "html",
          complete: function() {
            me.data("requestRunning", false);
          },
          success: function(html) {
            $("#nalog_placeholder")
              .fadeOut(0)
              .html(html)
              .fadeIn(500);
            $("#loader").fadeOut();
          },
          beforeSend: function() {
            $("#loader").fadeIn(200);
          }
        });
      });
  </script>
</div>
