<section class="pagination" data-link="<%= page_link %>">
  <% if (hasPreviousPage) { %>
  <a data-link="1" class="dnevnik_current_page_change_link" href="#"
    ><i
      style="vertical-align:middle;margin: 1px; margin-top:3px;color: #6d687e;"
      class="fas fa-fast-backward"
    ></i
  ></a>
  <a
    data-link="<%= currentPage - 1 %>"
    class="dnevnik_current_page_change_link"
    href="#"
  >
    <i
      style="vertical-align:middle;margin: 1px;margin-top:3px;color: #6d687e;margin-left: 10px;"
      class="fas fa-backward"
      aria-hidden="true"
    ></i>
  </a>
  <% } else { %>
  <a data-link="ff" class="dnevnik_current_page_change_link" href="#">
    <i
      style="vertical-align:middle;margin: 1px; margin-top:3px;color: #6d687e;margin-left: 15px;"
      class="fas fa-fast-backward"
    ></i>
  </a>
  <i
    style="vertical-align:middle;margin: 1px;margin-top:3px;color: #6d687e;margin-left: 10px;"
    class="fas fa-backward"
    aria-hidden="true"
  ></i>

  <% } %>
  <!--<form
    id="dnevnik_current_page_form"
    class="dnevnik_current_page_form"
    action="/"
    method="GET"
  >-->
    <input
      id="dnevnik_current_page_input"
      type="number"
      value="<%= currentPage%>"
    />
    <!--<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  </form>-->
  <% if (hasNextPage) { %>
  <a
    data-link="<%= currentPage + 1 %>"
    class="dnevnik_current_page_change_link"
    href="#"
    ><i
      class="fas fa-forward"
      style="vertical-align:middle;margin: 1px;margin-top:3px;color: #6d687e;margin-left: 10px;"
    ></i
  ></a>
  <a
    data-link="<%= lastPage %>"
    class="dnevnik_current_page_change_link"
    href="#"
  >
    <i
      class="fas fa-fast-forward"
      style="vertical-align:middle;margin: 1px;margin-top:3px;color: #6d687e;margin-left: 10px;"
    ></i
  ></a>
  <% } else { %>
  <i
    class="fas fa-forward"
    style="vertical-align:middle;margin: 1px;margin-top:3px;color: #6d687e;margin-left: 10px;"
  ></i>
  <i
    class="fas fa-fast-forward"
    style="vertical-align:middle;margin: 1px;margin-top:3px;color: #6d687e;margin-left: 10px;"
  ></i>
  <% } %>
  <script>
    $(document)
      .off("click", ".dnevnik_current_page_change_link")
      .on("click", ".dnevnik_current_page_change_link", function() {
        var dugme = $(this)[0];
        var page = dugme.getAttribute("data-link");
        if (dugme.getAttribute("requestRunning")) {
          return;
        }
        dugme.setAttribute("requestRunning", true);
        // page_link
        var page_link = document
          .getElementsByClassName("pagination")[0]
          .getAttribute("data-link");
        if (page_link === "dnevnik") {
          $.ajax({
            url: "/dnevnik_naloga",
            type: "get",
            data: { page: page },
            dataType: "html",
            complete: function() {
              dugme.setAttribute("requestRunning", false);
            },
            success: function(html) {
              $("div.centar").html(html);
            }
          });
        }
        //
        // page_link
        var page_link = document
          .getElementsByClassName("pagination")[0]
          .getAttribute("data-link");
        if (page_link === "komitenti") {
          $.ajax({
            url: "/komitenti",
            type: "get",
            data: { page: page },
            dataType: "html",
            complete: function() {
              dugme.setAttribute("requestRunning", false);
            },
            success: function(html) {
              $("div.centar").fadeOut(0).html(html).fadeIn(500)
              $('#loader').fadeOut();
            },
            beforeSend: function(){
              $('#loader').fadeIn(200)
            }
          });
        }
        //
      });

      $(document).off('change',"input#dnevnik_current_page_input").on('change',"input#dnevnik_current_page_input", function(){
        var me = $(this)[0];
        if (me.getAttribute("requestRunning")) {
          return;
        }
        if (me.value < 1){
          me.value = 1;
          return}
          var page_link = document
          .getElementsByClassName("pagination")[0]
          .getAttribute("data-link");
        // dnevnik
        if (page_link === "dnevnik") {
          $.ajax({
            url: "/dnevnik_naloga",
            type: "get",
            data: { page: me.value },
            dataType: "html",
            complete: function() {
              me.setAttribute("requestRunning", false);
            },
            success: function(html) {
              $("div.centar").html(html);
            }
          });
        }
        // komitenti
        if (page_link === "komitenti") {
          $.ajax({
            url: "/komitenti",
            type: "get",
            data: { page: me.value },
            dataType: "html",
            complete: function() {
              me.setAttribute("requestRunning", false);
            },
            success: function(html) {
              $("div.centar").html(html);
            }
          });
        }
        
      })

  </script>
</section>
