<div id="table">
    <table class="zakljucni_list">
      <thead class="zakljucni_list_thead">
        <tr class="zakljucni_list">
          <th class="zakljucni_list">Number</th>
          <th class="zakljucni_list">Name</th>
          <th class="zakljucni_list">Start claims</th>
          <th class="zakljucni_list">Start owes</th>
          <th class="zakljucni_list">Claims</th>
          <th class="zakljucni_list">Ows</th>
          <th class="zakljucni_list">Total claims</th>
          <th class="zakljucni_list">Total owes</th>
        </tr>
      </thead>
      <tbody class="zakljucni_list_tbody">
       
        <% for (let j =0; j <= array.length -1; j++ ) { %>
          <% if (array[j].key.length === 3) { %>
            <tr class="zakljucni_list zakljucni_list_trocifren">
              <td class="zakljucni_list zakljucni_list_trocifren"><%= array[j].key %></td>
              <td class="zakljucni_list zakljucni_list_trocifren"><%= %></td>
              <td class="zakljucni_list zakljucni_list_trocifren"><%= accounting.formatNumber(array[j].poc_zbir_d) %></td>
              <td class="zakljucni_list zakljucni_list_trocifren"><%= accounting.formatNumber(array[j].poc_zbir_p) %></td>
              <td class="zakljucni_list zakljucni_list_trocifren"><%= accounting.formatNumber(array[j].prom_zbir_d) %></td>
              <td class="zakljucni_list zakljucni_list_trocifren"><%= accounting.formatNumber(array[j].prom_zbir_p) %></td>
              <td class="zakljucni_list zakljucni_list_trocifren"><%= accounting.formatNumber(array[j].zbir_d) %></td>
              <td class="zakljucni_list zakljucni_list_trocifren"><%= accounting.formatNumber(array[j].zbir_p) %></td>
            </tr>
          <% } else { %>
            <tr data-id="<%= array[j]._id %>" class="zakljucni_list zakljucni_list_obican">
              <td class="zakljucni_list zakljucni_list_obican"><%= array[j].key %></td>
              <td class="zakljucni_list zakljucni_list_obican"><%= array[j].name %></td>
              <td class="zakljucni_list zakljucni_list_obican"><%= accounting.formatNumber(array[j].poc_zbir_d) %></td>
              <td class="zakljucni_list zakljucni_list_obican"><%= accounting.formatNumber(array[j].poc_zbir_p) %></td>
              <td class="zakljucni_list zakljucni_list_obican"><%= accounting.formatNumber(array[j].prom_zbir_d) %></td>
              <td class="zakljucni_list zakljucni_list_obican"><%= accounting.formatNumber(array[j].prom_zbir_p) %></td>
              <td class="zakljucni_list zakljucni_list_obican"><%= accounting.formatNumber(array[j].zbir_d) %></td>
              <td class="zakljucni_list zakljucni_list_obican"><%= accounting.formatNumber(array[j].zbir_p) %></td>
            </tr>
            <% } %>
          <% } %>
      </tbody>
    </table>
    <div class="table_zakljucni_list_donji_deo">
      <span title="Enter search term to filter table rows."><i class="fas fa-filter" style="vertical-align:middle;margin: 1px;color: #6d687e;margin-left: 10px;margin-right: 10px;"></i></span>
      <input title="Enter search term to filter table rows." id="zakljucni_list_text_input" class="zakljucni_list_text_input" type=text></input>
      <span data-datumend="<%= datum_end %>" id="zakljucni_print_to_pdf" title="Print to PDF" class="zakljucni_list_print_to_pdf_icon"><i class="fas fa-print"></i></span>
    </div>
    
<script>
$(document).off("keyup", "#zakljucni_list_text_input").on("keyup", "#zakljucni_list_text_input", function() {
  var value = $(this).val().toLowerCase();
  $("#table tbody tr").filter(function() {
    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
  });
})
$(document).off("dblclick", "tr.zakljucni_list_obican").on("dblclick", "tr.zakljucni_list_obican", function() {
  var zakljucni_list_row = $(this);
  var konto = this.getAttribute('data-id');
  
  if (zakljucni_list_row.data("requestRunning")) {
          return;
  }
  zakljucni_list_row.data("requestRunning", true);
  $.ajax({
    url: "/show_konto",
    type: "get",
    data: { konto_id: konto },
    dataType: "html",
    complete: function() {
      zakljucni_list_row.data("requestRunning", false);
    },
    success: function(html) {
      $("div.centar").fadeOut(0).html(html).fadeIn(500)
      $('#loader').fadeOut();
    },
    beforeSend: function(){
      $('#loader').fadeIn(200)
    }
  });
});
$(document).off("click", "#zakljucni_print_to_pdf").on("click", "#zakljucni_print_to_pdf", function() {
  var zakljucni_list_row = $(this);
  var konto = this.getAttribute('data-id');
  
  if (zakljucni_list_row.data("requestRunning")) {
          return;
  }
  zakljucni_list_row.data("requestRunning", true);
  var win = window.open('', '_blank');
  var content = document.getElementById('table')
  var datumend = this.getAttribute('data-datumend');
  
  $.ajax({
    url: "/zakljucni_pdf",
    type: "get",
    data: {datumend: datumend},
    dataType: "html",
    complete: function() {
      zakljucni_list_row.data("requestRunning", false);
    },
    success: function(json) {
      //$("div.centar").fadeOut(0).html(html).fadeIn(500)
      pdfMake.createPdf(JSON.parse(json)).open({}, win);
      $('#loader').fadeOut();
    },
    beforeSend: function(){
      $('#loader').fadeIn(200)
    }
  });
});
</script>
</div>
  